nav {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	-webkit-box-shadow: -4px 4px 12px -1px #000000; 
    box-shadow: -4px 4px 12px -1px #000000;
}
img {
	width: 7.5vh;
	height: 5vh;
	border-radius: 50%;

}
ul li{
	display: inline;
}
ul li a {
	text-decoration: 0;
	margin-right: 20px;
	font-size: 50px;
	padding: 10px;
	color: #BBB9D0;
}
ul li .active {
	background-color: #01ECA5;
	color: #000000;
	border-radius: 10px;
}
ul li .active1:hover {
	background-color: #01ECA5;
	color: #000000;
	border-radius: 10px;
}
/*center*/
div .logo {
	width: 50%;
	height: 50%;
	display: block;
	padding: 40px;
}
div {
	background-color: #000000;
	margin: 20px;
	border-radius: 20px;
	-webkit-box-shadow: -4px 4px 12px -1px #000000; 
    box-shadow: -4px 4px 12px -1px #000000;
	height: 100%;
	padding-bottom: 40px;
}
h1 {
    color: #BBB9D0;
    font-size: 50px;
    padding-left: 20px;
}
p {
    color: #BBB9D0;
    font-size: 45px;
    padding: 20px;
}