nav {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	-webkit-box-shadow: -4px 4px 12px -1px #000000; 
    box-shadow: -4px 4px 12px -1px #000000;
}
img {
	width: 10vh;
	height: 7vh;
	border-radius: 50%;

}
ul li{
	display: inline;
}
ul li a {
	text-decoration: 0;
	margin-right: 20px;
	font-size: 50px;
	padding: 10px;
	color: #BBB9D0;
}
ul li .active1 {
	background-color: #01ECA5;
	color: #000000;
	border-radius: 10px;
}
ul li .active:hover {
	background-color: #01ECA5;
	color: #000000;
	border-radius: 10px;
}

/*center*/
center .logo {
	width: 50%;
	height: 50%;
	display: block;
	padding: 40px;
}
center {
	background-color: #000000;
	margin: 20px;
	border-radius: 20px;
	-webkit-box-shadow: -4px 4px 12px -1px #000000; 
    box-shadow: -4px 4px 12px -1px #000000;
	height: 100%;
	padding-bottom: 40px;
}
.ig a{
	color: #000000;
	background-color: #01ECA5;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	border-radius: 20px;
}
.ig a:hover {
	color: #000000;
	background-color: #BBB9D0;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	border-radius: 20px;
}
.ig i{
	color: white;
}
.wa a{
	color: #BBB9D0;
	background-color: #0051ff;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	margin-top: 40px;
	border-radius: 20px;
}
.wa a:hover {
	color: #000000;
	background-color: #BBB9D0;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	margin-top: 40px;
	border-radius: 20px;
}
.wa i {
	color: #01ECA5;
}
.yt a{
	color: #000000;
	background-color: #01ECA5;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	margin-top: 40px;
	border-radius: 20px;
}
.yt a:hover {
	color: #000000;
	background-color: #BBB9D0;
	font-size: 70px;
	padding: 20px;
	display: block;
	margin-right: 40px;
	margin-top: 40px;
	border-radius: 20px;
}
.yt i {
	color: red;
}